<form>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
      <label><input type="checkbox" [(ngModel)]="externalTagData.SpecialInstWritten"
          [ngModelOptions]="{standalone: true}" /> Special Inst. Written</label>
    </div>
   
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
      <label><input type="checkbox" [(ngModel)]="externalTagData.Supplier_Issue"
          [ngModelOptions]="{standalone: true}" /> Supplier Issue</label>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
      <input type="text" class="form-control" [(ngModel)]="externalTagData.Issuedby"
        [ngModelOptions]="{standalone: true}" placeholder="Issued By">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 form-group">
      <label class="font-weight-bold">Ok'd By</label>
      <input type="text" class="form-control" [(ngModel)]="externalTagData.Okdby" [ngModelOptions]="{standalone: true}"
        placeholder="Okd'by">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 form-group">
      <label class="font-weight-bold">Length of Change</label>
      <div class="input-group">
        <input type="text" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
          [(ngModel)]="externalTagData.Lengthofchange" [ngModelOptions]="{standalone: true}" (change)="addDays()"
          aria-label="Length of change">
        <div class="input-group-append">
          <span class="input-group-text">Days</span>
        </div>
      </div>
      <p>{{ expiredOn }}</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 form-group">
      <label class="font-weight-bold">Process Step</label>
      <ng-autocomplete [data]="processStep" [searchKeyword]="processKeyword" placeHolder="Select Process Step"
        (selected)='getSelectedProcessStep($event)' (inputCleared)="clearProcessData()" [itemTemplate]="processTemplate"
        [notFoundTemplate]="notFoundProcessTemplate" [(ngModel)]="selectedProcessStep"
        [ngModelOptions]="{standalone: true}">
      </ng-autocomplete>
      <ng-template #processTemplate let-item>
        <a [innerHTML]="item.Department"></a>
      </ng-template>
      <ng-template #notFoundProcessTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 form-group">
      <label class="font-weight-bold">Machine Number</label>
      <ng-autocomplete [data]="machineStep" [searchKeyword]="machineKeyword1" placeHolder="Select Machine Step"
        (selected)='getSelectedMachine($event)' (inputCleared)="clearMachineData()" [itemTemplate]="machineTemplate"
        [notFoundTemplate]="notFoundMachineTemplate" [(ngModel)]="selectedMachine"
        [ngModelOptions]="{standalone: true}">
      </ng-autocomplete>
      <ng-template #machineTemplate let-item>
        <ul class='nav'>
          <li><a [innerHTML]="item.id"></a></li>
          <li><a [innerHTML]="item.MachineDesc"></a></li>
        </ul>
      </ng-template>
      <ng-template #notFoundMachineTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-lg col-md col-sm col-xs form-group">
      <label class="font-weight-bold">Feature</label>
      <textarea autosize class="form-control my-textarea" [(ngModel)]="externalTagData.Feature"
        [ngModelOptions]="{standalone: true}" placeholder="Enter..." name="story" rows="4"></textarea>
    </div>

  </div>
  <div class="row">
    <div class="col-lg col-md col-sm col-xs form-group">
      <label class="font-weight-bold">Special Instruction / Quality Memo</label>
      <textarea autosize class="form-control my-textarea" [(ngModel)]="externalTagData.SpecialInst"
        [ngModelOptions]="{standalone: true}" placeholder="Enter..." name="story" rows="4"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-lg col-md col-sm col-xs form-group">
      <label class="font-weight-bold">Comment</label>
      <textarea autosize class="form-control my-textarea" [(ngModel)]="externalTagData.Comment"
        [ngModelOptions]="{standalone: true}" placeholder="Enter..." name="story" rows="4"></textarea>
    </div>
  </div>