<div class="externalTagView">
  <div class="external-triangle"></div>
  <h2 class="external-header">
    External Issue
  </h2>


  <nav class="navbar navbar-expand-sm bg-info navbar-light">
      <a class="navbar-brand" id="home-btn" routerLink="../home">Home</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="collapse_target">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active show" id="profile-tab-classic" data-toggle="tab"
                  href="#profile-classic" role="tab" aria-controls="profile-classic" routerLink="qualityAlertExternal"
                  aria-selected="true">Quality Tag</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="follow-tab-classic" data-toggle="tab" href="#follow-classic" role="tab"
                  aria-controls="follow-classic" routerLink="holdTagExternal" aria-selected="false">Hold Tag</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab-classic" data-toggle="tab" href="#contact-classic" role="tab"
                  aria-controls="contact-classic" routerLink="tpcTagExternal" aria-selected="false">Tpc Tag</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="awesome-tab-classic" data-toggle="tab" href="#awesome-classic" role="tab"
                  aria-controls="awesome-classic" routerLink="specialInstructionExternal" aria-selected="false">Special
                  Instructions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="awesome-tab-classic" data-toggle="tab" href="#awesome-classic" role="tab"
                  aria-controls="awesome-classic" routerLink="pictureExternal" aria-selected="false">Pictures</a>
              </li>
        </ul>
      </div>
    </nav>

  
<div class="jumbotron">
      <div class="external-container" [(ngModel)]="externalTagData.isPictureComponent">
        <div class="row" *ngIf="!externalTagData.isPictureComponent">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ng-autocomplete">
            <ng-autocomplete [data]="reasonList" [searchKeyword]="reasonKeyword" placeHolder="Reason"
              (selected)='getSelectedReason($event)' (inputCleared)="clearData()" [itemTemplate]="reasonTemplate"
              [notFoundTemplate]="notFoundReasonTemplate">
            </ng-autocomplete>
            <ng-template #reasonTemplate let-item>
              <a [innerHTML]="item.Reason"></a>
            </ng-template>
            <ng-template #notFoundReasonTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
          <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12 ng-autocomplete">
            <ng-autocomplete [data]="partNumberList" [searchKeyword]="partNumId" placeHolder="Part Number"
              (selected)='getSelectedPartNumber($event)' (inputCleared)="clearData()" [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>
            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.id"></a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ng-autocomplete">
            <ng-autocomplete [data]="customerList" [searchKeyword]="customerKeyword" placeHolder="Customer Name"
              (inputCleared)="clearData()" [itemTemplate]="itemCustomerTemplate"
              [notFoundTemplate]="notFoundCustomerTemplate">
            </ng-autocomplete>
            <ng-template #itemCustomerTemplate let-item>
              <a [innerHTML]="item.CustName"></a>
            </ng-template>
            <ng-template #notFoundCustomerTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
        </div>
        
        <router-outlet></router-outlet>
        <div class="row">
          <button type="button" class="btn btn-primary btn-lg btn-sub" (click)="submitForm()">Submit</button>
        </div>
      </div>
    </div>
   
</div>
