<div class="container-fluid ccommonTagView">
    <div class="internal-triangle"></div>
    <h2 class="internal-header">
      <button
        type="button"
        class="btn btn-primary"
        id="home-btn"
        routerLink="../home"
      >
        Home
      </button>
     External Issue
    </h2>
  
    <div class="internal-container">
      <div class="row">
        <div class="col-sm-3 vertical-section">
          <router-outlet name="sidemenuExternal"></router-outlet>
        </div>
        <div class="col-sm-9 remove-padding">
  
          <ul
            class="nav nav-pills tabs-cyan custom-tabs"
            id="myClassicTab"
            role="tablist"
          >
            <li class="nav-item">
              <a
                class="nav-link  waves-light active show"
                id="profile-tab-classic"
                data-toggle="tab"
                href="#profile-classic"
                role="tab"
                aria-controls="profile-classic"
                routerLink="qualityAlertExternal"
                aria-selected="true"
                >Quality Tag</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link waves-light"
                id="follow-tab-classic"
                data-toggle="tab"
                href="#follow-classic"
                role="tab"
                aria-controls="follow-classic"
                routerLink="holdTagExternal"
                aria-selected="false"
                >Hold Tag</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link waves-light"
                id="contact-tab-classic"
                data-toggle="tab"
                href="#contact-classic"
                role="tab"
                aria-controls="contact-classic"
                routerLink="tpcTagExternal"
                aria-selected="false"
                >Tpc Tag</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link waves-light"
                id="awesome-tab-classic"
                data-toggle="tab"
                href="#awesome-classic"
                role="tab"
                aria-controls="awesome-classic"
                routerLink="specialInstructionExternal"
                aria-selected="false"
                >Special Instructions</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link waves-light"
                id="awesome-tab-classic"
                data-toggle="tab"
                href="#awesome-classic"
                role="tab"
                aria-controls="awesome-classic"
                routerLink="pictureExternal"
                aria-selected="false"
                >Pictures</a
              >
            </li>
          </ul>
  
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  