body {
    background: #456;
    font-family: "Open Sans", sans-serif;
  }
  
  .ccommonTagView {
    width: auto;
    margin: auto;
    font-size: 18px;
    padding: 0px;
  }
  
  /*triange */
  .internal-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: #000060;
  }
  
  .internal-header {
    background: #000060;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .internal-container {
    background: #ebebeb;
    padding: 12px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 10px;
  }
  .external-container {
    background: #bdbdbd;
    
  }
 
  #navcontainer a:link,
  #navcontainer a:visited {
    background-color: black;
    color: #ffffff;
    text-decoration: none;
   
  }
  
  #navcontainer a:hover {
    background-color: #cecbc6;
    color: white;
  }
  
  #navcontainerclear {
    display: none;
  }
  
  html > body #navcontainerclear {
    display: block;
    clear: both;
  }
  
  #navcontainer li#active a {
    background-color: #fff;
    color: white;
  }


 
  
  