<div class="container">
  <div class="jumbotron">
    <div class="eIssueForm-triangle"></div>
    <h2 class="eIssueForm-header">Home</h2>
    <div class="eIssueForm-container">
      <div class="row">
        <div class="col-6">
          <button type="button" class="btn   btn-primary">
            External Issue Form
          </button>
        </div>
        <div class="col-6" [routerLink]="'/partValueCalculator'">
          <button type="button" class="btn btn-primary">
            Part Value Calculator
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <button type="button" class="btn btn-primary">Customer Issues</button>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-primary">Customer Info</button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container-fluid eIssueForm">
    <div class="eIssueForm-triangle"></div>
    <h2 class="eIssueForm-header">Home</h2>
    <div class="eIssueForm-container">
      <div class="row">
        <div class="col-6">
          <p>
            <button type="button" class="btn   btn-primary">
              External Issue Form
            </button>
          </p>
        </div>
        <div class="col-6" [routerLink]="'/partValueCalculator'">
          <p>
            <button type="button" class="btn btn-primary">
              Part Value Calculator
            </button>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <p>
            <button type="button" class="btn btn-primary">
              Customer Issues
            </button>
          </p>
        </div>
        <div class="col-6">
          <p>
            <button type="button" class="btn btn-primary">Customer Info</button>
          </p>
        </div>
      </div>
    </div>
  </div> -->
</div>
