body {
  background: #456;
  font-family: "Open Sans", sans-serif;
}

.jumbotron {
  max-width: 800px;
  margin: auto;
}

.eIssueForm {
  width: 800px;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 150px;
  margin-left: auto;
  font-size: 18px;
}

/*triange */
.eIssueForm-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #000060;
}

.eIssueForm-header {
  background: #000060;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.eIssueForm-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
p {
  padding: 12px;
}

.btn-primary {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 12px;
  outline: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.95em;
  border-color: white;
}

.col-lg-6 ,.col-md-6 ,.col-sm-12 ,.col-xs-12
{
 padding: 10px;
}

.home-button{
  color: white;

}