<div class="container">
    <div class="eIssueForm-triangle"></div>
   
   
    <div class="eIssueForm-header">
        <button type="button" class="btn home-button" id="home-btn" routerLink="../home"><i class="fa fa-home fa-2x" aria-hidden="true" ></i></button>
        <h2 class="text-center" >External Issue Tag</h2>
    </div>

    <div class="eIssueForm-container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" [routerLink]="'/externalIssueTag'">
          <button type="button" class="btn btn-primary" >
            External Issue Form
          </button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" [routerLink]="'/partValueCalculator'">
          <button type="button" class="btn btn-primary">
            Part Value Calculator
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <button type="button" class="btn btn-primary">Customer Issues</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <button type="button" class="btn btn-primary">Customer Info</button>
        </div>
      </div>
    </div>
 
</div>
