<h4>External</h4>

<div class="ng-autocomplete">
    <ng-autocomplete 
      [data]="customerList"
      [searchKeyword]="CustomerNameKeyWord"
      placeHolder="Customer"
      (selected)='getSelectedCustomer($event)'
      (inputCleared)="clearData()"
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate">                                 
    </ng-autocomplete>   
    <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.CustName"></a>
    </ng-template>   
    <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
    </ng-template>
  </div>

  <div class="ng-autocomplete">
      <ng-autocomplete 
        [data]="partNumberList"
        [searchKeyword]="partNumId"
        placeHolder="Part Number"
        (selected)='getSelectedPartNumber($event)'
        (inputCleared)="clearData()"
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate">                                 
      </ng-autocomplete>   
      <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.id"></a>
      </ng-template>   
      <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
    
    <div class="ng-autocomplete">
      <ng-autocomplete 
        [data]="reasonList"
        [searchKeyword]="reasonKeyword"
        placeHolder="Reason"
        (selected)='getSelectedReason($event)'
        (inputCleared)="clearData()"
        [itemTemplate]="reasonTemplate"
        [notFoundTemplate]="notFoundReasonTemplate">                                 
      </ng-autocomplete>   
      <ng-template #reasonTemplate let-item>
      <a [innerHTML]="item.Reason"></a>
      </ng-template>   
      <ng-template #notFoundReasonTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>

<div class="form-group">
  <input
    type="text"
    class="form-control"
    placeholder="Issued By"
    aria-label="Issued By"
    id="issuedByValue"
    (focusout)="focusOutFunction(e)"
    aria-describedby="basic-addon2"
  />
</div>

<div class="form-group">
  <label>Tag Summary</label>
  <div
    class="checkbox"
    *ngFor="let tagSummary of tagSummaryList; let i = index"
  >
    <label
      ><input type="checkbox" (change)="getSelectedTag(i)" />
      {{ tagSummary.tagName }}
    </label>
  </div>
</div>
