<div class="row">

    <div class="col-lg-6 form-group">
        <label>Quantity</label>
        <input type="text" class="form-control" aria-label="Quantity" aria-describedby="basic-addon2">
    </div>

    <div class="col-lg-6 form-group">
        <p>Body :</p>
        <textarea id="story1" placeholder="Enter..." name="story" rows="4" cols="100"></textarea>

    </div>
</div>

<div class="row">
    <div class="col" id="my_centered_buttons">
        <button type="button" class="btn btn-primary btn-lg" (click)="submitForm()">Submit</button>
    </div>
</div>