<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
      <label class="font-weight-bold">Quantity</label>
      <input
        type="text"
        class="form-control"
        aria-label="Quantity"
        [(ngModel)]="internalTagData.qty"
        [ngModelOptions]="{ standalone: true }"
        min="1"
        step="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
    </div>
  </div>

   <div class="row">
        <div class="col-lg col-md col-sm col-xs form-group">
            <label class="font-weight-bold">Body</label>
            <textarea autosize class="form-control my-textarea" [(ngModel)]="internalTagData.body"
                [ngModelOptions]="{standalone: true}" placeholder="Enter..." name="story" rows="4"></textarea>
        </div>
    </div>
  