 
                  <div class="row">
                   <div class="col checkbox">
                      <label><input type="checkbox" value=""> TPC Tag </label>
                    </div>
                    <div class="col checkbox">
                        <label><input type="checkbox" value=""> Mod Written </label>
                      </div>
                      <div class="col checkbox">
                            <label><input type="checkbox" value=""> Supplier Issue </label>
                          </div>
                  </div>
      <br>
                  <div class="row">
                    <div class="col">
                      <p>Process Step</p>
                      <div class="dropdown">
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Process Step
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Process Step 1</a>
                          <a class="dropdown-item" href="#">Process Step 2</a>
                          <a class="dropdown-item" href="#">Process Step 3</a>
                        </div>
                      </div>
                    </div>
                     
                 <div class="col">
                          <p>Machine Number</p>
                          <div class="dropdown">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Machine Number
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#"> Machine Number 1</a>
                              <a class="dropdown-item" href="#"> Machine Number 2</a>
                              <a class="dropdown-item" href="#"> Machine Number 3</a>
                            </div>
                          </div>
                      
      
                  </div>
      
                  <div class="col">
                        <p>Length of Change</p>
                        <input type="text" class="form-control"  aria-label="Length of change" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">Days</span>
                    </div>
                    </div>

                  </div>
      <br>
      <br>
                  <div class="row">
                      <div class="col">
                          <p>Feature : </p>
                          <textarea id="story" name="story"rows="3" cols="100">Enter...
                          </textarea>
                      </div>
                     
      
                    </div>
      <hr>
      <div class="row">
          <div class="col">
              <p>Reason : </p>
              <textarea id="story" name="story"rows="3" cols="100">Enter Reason...
              </textarea>
          </div>
              </div>
          <br>
      
      <div class="row">
        <div class="col">
              <p>Changed : </p>
              <textarea id="story" name="story"rows="3" cols="100"> Enter Changed ...
              </textarea>
          </div>
        </div>

        <br>
        <div class="row">
                <div class="col">
                      <p>Comment : </p>
                      <textarea id="story" name="story"rows="3" cols="100"> Enter Comment ...
                      </textarea>
                  </div>
                </div>

            
    
      