<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
      <label class="font-weight-bold">Length of Change</label>
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="internalTagData.Lengthofchange"
          [ngModelOptions]="{standalone: true}" (change)="addDays()" aria-label="Length of change">
        <div class="input-group-append">
          <span class="input-group-text">Days</span>
        </div>
      </div>
      <p>{{ expiredOn }}</p>
    </div>
  </div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
      <label class="font-weight-bold">Feature</label>
    <textarea autosize class="form-control my-textarea" [(ngModel)]="internalTagData.Feature"
    [ngModelOptions]="{standalone: true}" placeholder="Enter..." rows="4"></textarea>
  </div>
</div>

<div class="row">
  <div class="col-lg col-md col-sm col-xs form-group">
      <label class="font-weight-bold">Body</label>
      <textarea autosize class="form-control my-textarea" [(ngModel)]="internalTagData.body"
          [ngModelOptions]="{standalone: true}" placeholder="Enter..." name="story" rows="4"></textarea>
  </div>
</div>

<div class="row">
  <div class="col-lg col-md col-sm col-xs form-group">
      <label class="font-weight-bold">Changed</label>
    <textarea autosize class="form-control my-textarea" [(ngModel)]="internalTagData.Changed"
     [ngModelOptions]="{standalone: true}" placeholder="Enter..."  rows="4"></textarea>
  </div>
</div>

<div class="row">
    <div class="col text-center form-group">
        <button class="btn btn-primary btn-lg" (click)="submitForm()">Submit</button>
    </div>
</div>