
<div class="container-fluid partValueCal">
    <div class="partValueCal-triangle"></div>
    <div class="partValueCal-header">
       
             <h2 style="text-align: center;">Part Value Calculator</h2>
    </div>


    <div class="partValueCal-container" >
    <div class="row">
 
       <!-- START table-responsive-->
       <table class="table table-hover ">
          
             <thead>
                <tr>
                   <th>Part Number</th>
                   <th>Department</th>
                   <th>Cost</th>
                   <th>Weight(lb)</th>
                   <th>Cal. Cost</th>
                   <th>Cal. Weight</th>
                </tr>
             </thead>
             <tbody>
                <tr>
                   <td>Poweder-1202</td>
                   <td>Compact</td>
                   <td>$0.61</td>
                   <td>1.000</td>
                   <td>$0.61</td>
                   <td>1.000</td>
                </tr>
             </tbody>
          </table>
      
       <!-- END table-responsive-->
    
    
    </div>
 </div>
 </div>
 