
  body {
    background: #456;
    font-family: 'Open Sans', sans-serif;
  }

.partValueCal{
  width: auto;
  margin:auto;
  font-size: 18px;
    }

   .container-fluid {
    padding: 0 !important;
}
 
  /*triange */
  .partValueCal-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: #000060;
  }

  .partValueCal-header {
    background: #000060;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
  }

  .partValueCal-container{
    background:white;
    padding-right: 15px;
    padding-left: 15px;
}


thead{
  background-color:#6200ea;
  color: white;
}
