body {
  background: #456;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

.internalTagView {
  font-size: 18px;
 
}

/*triange */
.internal-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #000060;
}

.internal-header {
  background: #000060;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}



.navbar-nav .active{
  color: darkblue;
}