<div class="container-fluid internalTag">
    <div class="internal-triangle"></div>
    <h2 class="internal-header">
        <i class="fa fa-home" aria-hidden="true"></i>
        <!--<button type="button" class="btn home-button" id="home-btn" routerLink="../home">Home</button>-->
        internal Tag</h2>
  <nav class="navbar navbar-expand-sm bg-info navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-center">
        <li class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" aria-selected="true"  routerLink="qualityTag">Quality Tag</a>
        </li>
        <li class="nav-item" routerLinkActive="active"  data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" aria-selected="false" routerLink="holdTag" >Hold Tag</a>
        </li>
        <li class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" aria-selected="false" routerLink="tpcTag">Tpc Tag</a>
        </li>
        <li class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link"  aria-selected="false" routerLink="specialInstruction">Special
            Instructions</a>
        </li>
        <li class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link"  routerLink="picture" aria-selected="false">Pictures</a>
        </li>
      </ul>
    </div>
  </nav>

 
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 vertical-section">
          <router-outlet name="sidemenu"></router-outlet>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 right-side-panel">

          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
 