body {
  background: #456;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

.internalTagView {
  font-size: 16px;
 
}

/*triange */
.internal-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #000060;
}


.internal-header {
  background: #000060;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 0px;
}

.vertical-section , .right-side-panel{
 padding-top:20px;
}

.navbar-light .navbar-nav .active>.nav-link{
  color: white;
  font-weight: bold;
}

.vertical-section{
background-color: #808080;
}

.right-side-panel{
background-color: #e0e0e0;
}
hr{
color: white;
}


.home-button{
  color: white;

}
