<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <router-outlet name="sidemenu"></router-outlet>
    </div>
    <div class="col-sm-9">
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline ">
          <button class="btn btn-outline-info header_css active " type="button" routerLink="qualityTag" (click)="clickedLink($event)"> Quality Alert - In
          </button>
          <button class="btn btn-outline-info header_css" type="button" routerLink="holdTag" (click)="clickedLink($event)"> Hold Tag </button>
          <button class="btn btn-outline-info header_css" type="button" routerLink="tpcTag" (click)="clickedLink($event)"> TPC Tag </button>
          <button class="btn btn-outline-info header_css" type="button" routerLink="specialInstruction" (click)="clickedLink($event)"> Special
            Instruction </button>
          <button class="btn btn-outline-info header_css" type="button" routerLink="picture" (click)="clickedLink($event)"> Picture </button>
        </form>
      </nav>
      <router-outlet></router-outlet>
     
      
    </div>
  </div>
</div>