body {
    background: #456;
    font-family: 'Open Sans', sans-serif;
  }

.ccommonTagView {
    width: auto;
    margin:auto;
    font-size: 18px;
    }
  
 
  /*triange */
  .internal-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: #000060;
  }

  .internal-header {
    background: #000060;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
  }

.internal-container{
    background: #ebebeb;
    padding: 12px;
}

  .stackpole-logo img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
  }

  /*-- Navigation --*/
  #navcontainer ul
{
display: block;
list-style: none outside;
padding: 0;
margin: 0 0 0 50px;
font-family: Verdana, sans-serif;
font:18px;
}

#navcontainer li
{
padding: 0;
margin-top:30px;
margin-right:40px;
margin-left:40px;
margin-bottom:auto;
border-top: 1px solid #cecbc6;
border-right: 1px solid #cecbc6;
border-left: 1px solid #cecbc6;
background-color: white;
color: #ffffff;
/* the next 4 lines are magic */
display: block;
float: left;
position: relative;
top: -1.5em;
}


#navcontainer a:link,
#navcontainer a:visited
{
background-color: #000066;
color: #ffffff;
text-decoration: none;
padding-left: 1em;
padding-right: 1em;
}

#navcontainer a:hover
{
background-color: #cecbc6;
color: #000066;
}

#navcontainerclear { display: none; }

html>body #navcontainerclear
{
display: block;
clear: both;
}

#navcontainer li#active a
{
background-color: #fff;
color: #000066;
}