<div class="row add-margin">
  <div class="col-lg-6">
    <label>OK'd by :</label>
    <input type="text" class="form-control" aria-label="OK'd By" aria-describedby="basic-addon2">
  </div>
</div>
<div class="row add-margin">
  <div class="col-lg-6">
    <p>Body</p>
    <textarea autosize placeholder="Enter.." name="story" rows="5" cols="50"></textarea>
  </div>
</div>
<div class="row add-margin">
  <div class="col-lg-6 form-group">
    <p>Length of Change</p>
    <div class="input-group">
      <input type="text" class="form-control"
        (change)="addDays()" aria-label="Length of change">
      <div class="input-group-append">
        <span class="input-group-text">Days</span>
      </div>
    </div>
    <p>{{ expiredOn }}</p>
  </div>
</div>
<div class="row add-margin">
  <div class="col" id="my_centered_buttons">
    <button type="button" class="btn btn-primary btn-lg" (click)="submitForm()">Submit</button>
  </div>
</div>