<div class="row">
  <div class="col">
    <label>OK'd by :</label>
    <input type="text" class="form-control" aria-label="OK'd By" aria-describedby="basic-addon2">
  </div>
  <div class="col">
    <p>Body</p>
    <textarea id="story6" placeholder="Enter.." name="story" rows="5" cols="50"></textarea>
  </div>
  <div class="col form-group">
    <p>Length of Change</p>
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="tagDetails.Lengthofchange"
        [ngModelOptions]="{standalone: true}" (change)="addDays()" aria-label="Length of change">
      <div class="input-group-append">
        <span class="input-group-text">Days</span>
      </div>
    </div>
    <p>{{ expiredOn }}</p>
  </div>
</div>

<div class="row">
  <div class="col" id="my_centered_buttons">
    <button type="button" class="btn btn-primary btn-lg" (click)="submitForm()">Submit</button>
  </div>
</div>