<div class="container-fluid cgetTagData">
  <div class="getTagData-triangle"></div>
  <div class="header getTagData-header">
    <div class="row">
      <div class="col-8">
        <button type="button" class="btn btn-primary" id="home-btn" routerLink="../home">
          Home
        </button>
        <h2 style="text-align: center;">
          Tag List
        </h2>
      </div>
      <div class="col-4">
        <div>
          <div>
            <button type="button" class="btn btn-info add-margin" data-toggle="collapse" data-target="#demo">
              Search By
            </button>
            <button type="button" class="btn btn-secondary add-margin" data-toggle="collapse" data-target="#demo"
              (click)="searchTag()">
              Submit
            </button>
          </div>

          <div id="demo" class="collapse" *ngFor="let searchOption of searchOption; let i = index">
            <input *ngIf="searchOption.searchBy != 'Date'" type="text" class="form-control add-width-height"
              [(ngModel)]="searchOption.value" placeholder="{{ searchOption.searchBy }}" data-ng-model="searchOption" />
            <input *ngIf="searchOption.searchBy === 'Date'" type="date" class="form-control add-width-height"
              [(ngModel)]="searchOption.value" placeholder="{{ searchOption.searchBy }}" data-ng-model="searchOption" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="getTagData-container">
    <div class="row">
      <!-- START table-responsive-->
      <table class="table table-hover ">
        <thead>
          <tr>
            <th>Edit</th>
            <th *ngIf="isAdmin ==='true'">Delete</th>
            <th>Tag ID</th>
            <th>Date</th>
            <th>Part Number</th>
            <th>Reason</th>
            <th>Issued By</th>
            <th>Ok'd By</th>
            <th>Length Of Change</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let qualityTagData of qualityTagDataList; let i = index">
            <td>
              <button type="button" class="btn btn-secondary" (click)="updatetag(qualityTagData.id)">
                Edit
              </button>
            </td>           
            <td  *ngIf="isAdmin ==='true'">
              <button type="button" class="btn btn-danger" (click)="deleteTag(qualityTagData.id)">
                Delete
              </button>
            </td>
            <td>{{ qualityTagData.id }}</td>
            <td>{{ qualityTagData.Date }}</td>
            <td>{{ qualityTagData.PartID }}</td>
            <td>{{ qualityTagData.Reason }}</td>
            <td>{{ qualityTagData.Issuedby }}</td>
            <td>{{ qualityTagData.Okdby }}</td>
            <td>{{ qualityTagData.Lengthofchange }}</td>
          </tr>
        </tbody>
      </table>

      <!-- END table-responsive-->
    </div>
  </div>
</div>