<div class="row">
        <div class="col-md">
            <!-- START card-->
            <div class="card card-default">
               <div class="card-body">
                  <!-- START table-responsive-->
                  <div class="table-responsive">
                     <table class="table">
                        <thead>
                           <tr>
                              <th>Tag ID</th>
                              <th>Edit</th>
                              <th>Date</th>
                              <th>Part Number</th>
                              <th>Reason</th>
                              <th>Issued By</th>
                              <th>Ok'd By</th>
                              <th>Length Of Change</th>
                                                      
                           </tr>
                        </thead>
                        <tbody>
                           <tr  *ngFor="let qualityTagData of qualityTagDataList; let i = index">
                                <td>{{qualityTagData.id}}</td>
                                <td><button type="button" class="btn btn-secondary"(click)="updatetag(qualityTagData.id)">Edit</button></td> 
                                <td>{{qualityTagData.Date}}</td>
                                <td>{{qualityTagData.PartID}}</td>
                                <td>{{qualityTagData.Reason}}</td>
                                <td>{{qualityTagData.Issuedby}}</td>
                                <td>{{qualityTagData.Okdby}}</td>
                                <td>{{qualityTagData.Lengthofchange}}</td>
                                                        
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <!-- END table-responsive-->
               </div>
            </div>
            <!-- END card-->
         </div>
         </div>
