<div class="row">
        <div class="col-md">
            <!-- START card-->
            <div class="card card-default">
               <div class="card-header">Tag Data List</div>
               <div class="card-body">
                  <!-- START table-responsive-->
                  <div class="table-responsive">
                     <table class="table">
                        <thead>
                           <tr>
                             
                             <th>Part Number</th>
                              <th>Reason</th>
                              <th>Issued By</th>
                              <th>Tag Summary</th>
                              <th>Process Step</th>
                              <th>Machine Number</th>
                              <th>Ok'd By</th>
                              <th>Length Of Change</th>
                              <th>Body</th>
                              <th>Supplier Issue</th>
                              <th>Quantity</th>
                              
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                                <td>Part Number</td>
                                <td>Reason</td>
                                <td>Issued By</td>
                                <td>Tag Summary</td>
                                <td>Process Step</td>
                                <td>Machine Number</td>
                                <td>Ok'd By</td>
                                <td>Length Of Change</td>
                                <td>Body</td>
                                <td>Supplier Issue</td>
                                <td>Quantity</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <!-- END table-responsive-->
               </div>
            </div>
            <!-- END card-->
         </div>
         </div>
