body {
  background: #456;
  font-family: "Open Sans", sans-serif;
}

.cgetTagData {
  width: auto;
  margin: auto;
  font-size: 18px;
}

.container-fluid {
  padding: 0 !important;
}

/*triange */
.getTagData-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #000060;
}

.getTagData-header
{
background: #000060;
padding: 15px;
font-size: 1.4em;
font-weight: normal;
text-transform: uppercase;
color: #fff;
margin: 0px;
}

.getTagData-container {
  background: white;
  padding-right: 15px;
  padding-left: 15px;
}

thead {
  background-color: #6200ea;
  color: white;
}

.home-button{
  color: white;

}