body {
  background: #456;
  font-family: "Open Sans", sans-serif;
}

.cupdateTag {
  width: auto;
  margin: auto;
  font-size: 18px;
}

/* Reset top and bottom margins from certain elements */

/*triange */
.updateTag-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #000060;
}

.updateTag-header {
  background: #000060;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.body-update-tag{
        background:#9e9e9e;  
        padding-top: 20px;
}

.home-button{
  color: white;

}

