<div class="container">
    <div class="row">
        <form>
            <p>Part Number</p>
            <div>
                <select class="form-control" (change)="getSelectedPartNumber($event)">
                    <option [ngValue]="null" disabled>
                        Part Number
                    </option>
                    <option *ngFor="let partNum of partNumberList; let i = index" [ngValue]="partNum">
                        {{partNum.id}}
                    </option>
                </select>
            </div>
            <hr>
            <p>Reason</p>
            <select class="form-control" (change)="getSelectedReason($event)">
                <option [ngValue]="null" disabled>
                    Reason
                </option>
                <option *ngFor="let reason of reasonList; let i = index" [ngValue]="reason">
                    {{reason.Reason}}
                </option>
            </select>
            <hr>
            <input type="text" class="form-control" placeholder="Issued By" aria-label="Issued By" id="issuedByValue"
                (focusout)="focusOutFunction(e)" aria-describedby="basic-addon2">
            <hr>
            <p>Process Step</p>
            <select class="form-control" (change)="getSelectedProcessStep($event)">
                <option disabled>Process Step</option>
                <option *ngFor="let processStep of processStep; let i = index" [ngValue]="processStep">
                    {{processStep.Department}}
                </option>
            </select>
            <hr>
            <p>Machine Step</p>
            <select class="form-control" (change)="getSelectedMachine($event)">
                <option disabled>Machine Step</option>
                <option *ngFor="let machineStep of machineStep; let i = index" [ngValue]="machineId">
                    {{machineStep.MachineDesc}}
                </option>
            </select>
            <hr>

            <label>OK'd by :</label>
            <input type="text" name="okdBy" class="form-control" [(ngModel)]="tagDetails.okdBy"
                [ngModelOptions]="{standalone: true}">

            <hr>
            <p>Body</p>
            <textarea name="body" class="form-control" [(ngModel)]="tagDetails.body"
                [ngModelOptions]="{standalone: true}" placeholder="Enter..." name="story" rows="4" cols="50"></textarea>

            <hr>

            <p>Length of Change</p>
            <input type="text" class="form-control" [(ngModel)]="tagDetails.Lengthofchange"
                [ngModelOptions]="{standalone: true}" (change)="addDays()" class="form-control"
                aria-label="Length of change">

        </form>
    </div>
</div>