<h4>Internal</h4>
<hr>
<p>Part Number</p>
<div >
    
    <select class="form-control" (change)="getSelectedPartNumber($event)">
            <option [ngValue]="null" disabled>Part Number</option>
        <option *ngFor="let partNum of partNumberList; let i = index" [ngValue]="partNum">
            {{partNum.id}}
        </option>
    </select>

</div>


<hr>
<p>Reason</p>
<select class="form-control" (change)="getSelectedReason($event)">
    <option [ngValue]="null" disabled>Reason</option>
<option *ngFor="let reason of reasonList; let i = index" [ngValue]="reason">
    {{reason.Reason}}
</option>
</select>


<hr>
<input type="text" class="form-control" placeholder="Issued By" aria-label="Issued By" aria-describedby="basic-addon2">
<hr>
<p>Tag Summary</p>

<div class="checkbox" *ngFor="let tagSummary of tagSummaryList ; let i = index">
    <label><input type="checkbox"  (change)="getSelectedTag(i)"> {{tagSummary.tagName}} </label>
</div>