<div class="mybackground">
    <ng-autocomplete [data]="partNumberList" [searchKeyword]="partNumId" placeHolder="Select Part Number"
    (selected)='getSelectedPartNumber($event)' (inputChanged)='onChangePartNumber($event)' (inputCleared)="clearData()"
    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
  </ng-autocomplete>
  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.PartID"></a>
  </ng-template>
  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
  <br>
  
  <ng-autocomplete [data]="reasonList" [searchKeyword]="reasonKeyword" placeHolder="Select Reason"
    (selected)='getSelectedReason($event)' (inputCleared)="clearData()" [itemTemplate]="reasonTemplate"
    [notFoundTemplate]="notFoundReasonTemplate">
  </ng-autocomplete>
  <ng-template #reasonTemplate let-item>
    <a [innerHTML]="item.Reason"></a>
  </ng-template>
  <ng-template #notFoundReasonTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
  <br>
  
  <ng-autocomplete [data]="processStep" [searchKeyword]="processKeyword" placeHolder="Select Process Step"
    (selected)='getSelectedProcessStep($event)' (inputCleared)="clearData()" [itemTemplate]="processTemplate"
    [notFoundTemplate]="notFoundProcessTemplate">
  </ng-autocomplete>
  <ng-template #processTemplate let-item>
    <a [innerHTML]="item.Department"></a>
  </ng-template>
  <ng-template #notFoundProcessTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
  <br>
  <ng-autocomplete [data]="machineStep" [searchKeyword]="machineKeyword1" placeHolder="Select Machine Step"
    (selected)='getSelectedMachine($event)' (inputCleared)="clearData()" [itemTemplate]="machineTemplate"
    [notFoundTemplate]="notFoundMachineTemplate">
  </ng-autocomplete>
  <ng-template #machineTemplate let-item>
    <ul class='nav'>
      <li><a [innerHTML]="item.id"></a></li>
      <li><a [innerHTML]="item.MachineDesc"></a></li>
    </ul>
  </ng-template>
  <ng-template #notFoundMachineTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
  <br>
  
  <!-- <div class="form-group">
    <select class="form-control" (change)="getSelectedPartNumber($event)">
      <option [ngValue]="null" disabled>Part Number</option>
      <option
        *ngFor="let partNum of partNumberList; let i = index"
        [ngValue]="partNum">
        {{ partNum.id }}
      </option>
    </select>
  </div>
  
  <div class="form-group">
    <select class="form-control" (change)="getSelectedReason($event)">
      <option disabled>Reason</option>
      <option *ngFor="let reason of reasonList; let i = index" [ngValue]="reason">
        {{ reason.Reason }}
      </option>
    </select>
  </div> -->
  
  <!-- <div class="form-group">
    <select class="form-control" (change)="getSelectedProcessStep($event)">
      <option disabled>Process Step</option>
      <option
        *ngFor="let processStep of processStep; let i = index"
        [ngValue]="processStep">
        {{ processStep.Department }}
      </option>
    </select>
  </div> -->
  
  <input type="text" class="form-control" placeholder="Enter Issued By" aria-label="Issued By" id="issuedByValue"
    (focusout)="focusOutFunction(e)" aria-describedby="basic-addon2" />
  <br>
  
  <div class="form-group">
    <label>Tag Summary</label>
    <div *ngFor="let tagSummary of tagSummaryList; let i = index">
      <label><input type="checkbox" (change)="getSelectedTag(i)" />
        {{ tagSummary.tagName }}
      </label>
    </div>
  </div>
</div>
