<div class="container">
    <div class="home-triangle"></div>
    <h2 class="home-header">Home</h2>
    <div class="home-container">
    
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" [routerLink]="'/internalTag/qualityTag'">
          <button type="button" class="btn   btn-primary">
            Create a New Form
          </button>
        </div>
     
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" [routerLink]="'/externalIssueForm'">
          <button type="button" class="btn   btn-primary">
            External Issue Form
          </button>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <button type="button" class="btn btn-primary">Reprint</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" (click)="removeUserAAdmin()"  [routerLink]="'/getTag'">
          <button type="button" class="btn btn-primary">
            Filter
          </button>
        </div>
      </div> 
      
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <button type="button" class="btn btn-primary" (click)="setUserAsAdmin()" [routerLink]="'/getTag'">Admin</button>
        </div>
       
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <button type="button" class="btn btn-primary" (click)="logout()">
           Logout
          </button>
        </div>
      </div>
      
    </div>


  <!-- <div class="container-fluid home">
 
  <div class="home-triangle"></div>
  <h2 class="home-header">Home</h2>
  <div class="home-container">
    <div class="row">
      <div class="col-6" [routerLink]="'/newForm'">
        <p>
          <button type="button" class="btn   btn-primary">Create a New Form</button>
        </p>
      </div>
      <div class="col-6" [routerLink]="'/externalIssueForm'">
        <p>
          <button type="button" class="btn   btn-primary">External Issue Form</button>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <p>
          <button type="button" class="btn btn-primary">Reprint</button>
        </p>
      </div>
      <div class="col-6">
        <p><button type="button" class="btn btn-primary">
            Filter</button> </p>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <p>
          <button type="button" class="btn   btn-primary"> Admin </button>
        </p>
      </div>
      <div class="col-6">
        <p><button type="button" class="btn   btn-primary" (click)="logout()">
            Quit Application</button></p>
      </div>
    </div>
    
  </div>
</div> -->
</div>
