<div class="container-fluid maindiv">
  <div class="row">
      <div class="col-sm btn_div1"></div>
    <div class="col-sm btn_div" [routerLink]="'/newForm'">Create a New Form</div>
    <div class="col-sm btn_div">External Issue Form</div>
    <div class="col-sm btn_div1"></div>
  </div>
  <div class="row">
      <div class="col-sm btn_div1"></div>
      <div class="col-sm btn_div">Reprint</div>
      <div class="col-sm btn_div">Filter</div>
      <div class="col-sm btn_div1"></div>
  </div>
  <div class="row">
      <div class="col-sm btn_div1"></div>
    <div class="col-sm btn_div">Admin</div>
    <div class="col-sm btn_div">Quit Application</div>
    <div class="col-sm btn_div1"></div>
  </div>
</div>