<div class="row">
    <div class="col checkbox">
        <label>
            <input type="checkbox" value>
            Supplier Issue
        </label>
    </div>
</div>
<div class="row">
    <div class="col">

        <span style="color:red;" *ngIf="message">{{message}}</span>
        <input #file type="file" accept='image/*' (change)="preview(file.files,1)" />
        <img [src]="imgURL" height="200" *ngIf="imgURL">
    </div>
</div>
<div class="row">
    <div class="col">

        <span style="color:red;" *ngIf="message">{{message}}</span>
        <input #file1 type="file" accept='image/*' (change)="preview(file1.files,2)" />
        <img [src]="imgURL1" height="200" *ngIf="imgURL1">
    </div>
</div>
<br>