<div class="row add-padding add-margin">
    <div class="col">
        <input #file type="file" accept='image/*' (change)="preview(file.files,1)" />
        <img class="add-padding" [src]="imgURL" height="200" *ngIf="imgURL">
    </div>
    <div class="col">
        <input #file1 type="file" accept='image/*' (change)="preview(file1.files,2)" />
        <img class="add-padding" [src]="imgURL1" height="200" *ngIf="imgURL1">
    </div>
    <div class="col">
        <input type="file" name="document" multiple>
    </div>
</div>